<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
    th는 기존의 html을 효과적으로 대체하는 네임스페이스
    th:test 프로퍼티와 함께 사용하면 내부에 표현된 #{...} 구문을 실젯값으로 대체함
-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <!--
        @{...}는 타임리프의 기본 링크 표현 구문임
        server-relative URL 방식
        즉 동일 서버 내의 다른 컨텍스트로 연결해주는 방식으로 서버의 루트 경로를 기준으로
        구문에서 경로를 탐색하여 href의 URL을 대체함
    -->
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <div class="page-header">
            <h1>게시글 목록</h1>
        </div>
        <div class="pull-right" style="width:100px;margin:10px 0;">
            <a href="/board" class="btn btn-primary btn-block">등록</a>
        </div>
        <br/><br/><br/>
        <div id="mainHide">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">서비스 분류</th>
                    <th class="col-md-5">제목</th>
                    <th class="col-md-2">작성 날짜</th>
                    <th class="col-md-2">수정 날짜</th>
                </tr>
                </thead>
                <tbody>
                <!--
                    th:each는 반복 구문으로 ${boardList}에 담긴 리스트를 Board 객체로 순차 처리함
                    Board 객체에 담긴 get* 메서드를 board.*로 접근할 수 있다
                    예제에서 board.idx.board.title과 같이 사용할 수 있는 이유는 Board 객체에 getIdx()와 getTitle() 메서드가 정의되어 있기 때문
                -->
                    <tr th:each="board : ${boardList}">
                        <td th:text="${board.idx}"></td>
                        <td th:text="${board.boardType.value}"></td>
                        <td><a th:href="'/board?idx='+${board.idx}" th:text="${board.title}"></a></td>
                        <!--
                            temporals의 format 함수를 사용하여 날짜 포맷 변환을 수행
                            포매팅 없이 그대로 날짜를 출력하면 LocaDateTime의 기본형인 ISO 방식으로 출력됨
                            일반적인 날짜 표기 형식(yyyy/MM/dd HH:mm)으로의 변환은 직접 포매팅 메서드를 만들거나 제공되는 라이브러리를 사용
                         -->
                        <td th:text="${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${#temporals.format(board.updatedDate,'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <!-- Pagination -->
        <nav aria-label="Page navigation" style="text-align:center;">
            <!--
                th:with 구문을 사용하여 ui 태그 안에서 사용할 변수를 정의함
                startNumber와 endNumber 변수로 페이지의 처음과 끝을 동적으로 계산하여 초기화함
                변수 계산 로직은 기본 10페이지 단위로 처리함
            -->
            <ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
                <li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>
                <!--
                    pageable 객체에는 편리하게도 해당 페이지가 처음인지(isFirst) 마지막인지(isLast)에 대한 데이터(불린형)를 제공함
                    이를 사용하여 이전/다음 페이지의 미노출 여부를 결정
                 -->
                <li th:style="${boardList.first} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                </li>
                <!--
                    각 페이지 버튼은 th:each를 사용하여 startNumber부터 endNumber까지를 출력시킴
                    pageable은 현재 페이지를 알려주는 number 객체가 0부터 시작함
                    그래서 ${boardList.number}+1로 비교하여 현재 페이지 번호일 경우 classdp 현재 페이지임을 보여주는 'active' 프로퍼티를 추가함
                 -->
                <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">
                    <a th:href="@{/board/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
                </li>

                <li th:style="${boardList.last} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
                </li>
                <li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
            </ul>
        </nav>
        <!-- /Pagination -->
    </div>

    <div th:replace="layout/footer::footer"></div>
</body>
</html>